.display-flex{

    display:flex; 
    justify-content: space-around;    
    }
     .wd50a{
         display:flex; 
         justify-content: space-between;
         padding-top:100px;
     
    
     }
     .on{
       
         width:60%; 
         margin:auto;
         display:flex; 
         justify-content: space-between;
     }
     .off{
        display:none; 
    }
     @media screen and (max-width: 1280px)
    {
       
        .autre{
       
       width:90%; 
       margin:auto;
       display:flex; 
       justify-content: space-between;
    }
    }
    