<div class="display-flex">        
        <img class="cursor-pointer"  onclick="loadDoc(this)" title="folder"    src="https://img.icons8.com/office/80/000000/archive-folder.png"/>
        <img class="cursor-pointer"  onclick="loadDoc(this)" title="user"  src="https://img.icons8.com/office/80/000000/circled-user-male-skin-type-6.png"      onclick="header_button(this)"/>
        <img class="cursor-pointer"  onclick="loadDoc(this)" title="log_out" src="https://img.icons8.com/office/100/000000/exit-sign.png" onclick="header_button(this)" />     
</div>

   
<div class="wd50a" id="wd50a">  
    <div id="div_folder" >     </div>
 </div>
 
 
<!--
  menu <img src="https://img.icons8.com/carbon-copy/50/000000/menu.png"/>
  <a href="https://icons8.com/icon/9yFmVUVhgZs6/add-song">Add Song icon by Icons8</a>
  <a href="https://icons8.com/icon/3156/info">Info icon by Icons8</a>

    <a href="https://icons8.com/icon/102308/menu">Menu icon by Icons8</a>
    <a href="https://icons8.com/icon/0uYcfoG9OUaw/image">Image icon by Icons8</a>
    <a href="https://icons8.com/icon/RNrys9_XRuOg/sound-cloud">Sound Cloud icon by Icons8</a>
    <a href="https://icons8.com/icon/mgr6xm1Af5v3/download-resume">Download Resume icon by Icons8</a>
    <a href="https://icons8.com/icon/L0q9D98y4vXt/change-user">Change User icon by Icons8</a>
    <a href="https://icons8.com/icon/114607/export">Export icon by Icons8</a>
    <a href="https://icons8.com/icon/57475/image">Image icon by Icons8</a>
    <a href="https://icons8.com/icon/a8NHl6SmDbn7/settings">Settings icon by Icons8</a>
    <img src="https://img.icons8.com/cute-clipart/64/000000/exit.png"/>
    <a href="https://icons8.com/icon/58342/data-setting">Data Setting icon by Icons8</a>
    <a href="https://icons8.com/icon/3XO4Ci6_-HuH/plus">Plus icon by Icons8</a>
  

-->  