<div class="display-flex">       
        <img  class="cursor-pointer width-header"  title="picture_width" src="https://img.icons8.com/plasticine/100/000000/image.png" onclick="header_button(this)" />
        <img  class="cursor-pointer width-header"  title="video_width" src="https://img.icons8.com/dusk/64/000000/video.png" onclick="header_button(this)" />
        <img  class="cursor-pointer width-header"  title="musique_width" src="https://img.icons8.com/ios/50/000000/sound-cloud-.png" onclick="header_button(this)" />
        <img  class="cursor-pointer width-header"  title="user_width" src="https://img.icons8.com/nolan/64/change-user-male.png" onclick="header_button(this)" />
        <img  class="cursor-pointer width-header"  title="log_out_width" src="https://img.icons8.com/cute-clipart/64/000000/exit.png" onclick="header_button(this)" />     
    </div>
</div>
   
<div class="picture_width" id="wd50a">  
    <div id="div_picture_width" class="display-none">  
           <img  title="Mes images" class="cursor-pointer width-header" src="https://img.icons8.com/dotty/80/000000/image--v1.png"/>
          
           <img class="cursor-pointer width-header" title="Ajouter element"  src="https://img.icons8.com/cute-clipart/64/000000/add-image.png"/>
 
    </div>
 
    <div id="div_video_width"  class="display-none">  
        <img src="https://img.icons8.com/dusk/64/000000/video.png"/>
        <img src="https://img.icons8.com/flat-round/64/000000/plus.png" class="cursor-pointer width-header" title="Ajouter element" />
     
 </div>
 <div id="div_musique_width"  class="display-none">  
    <img src="https://img.icons8.com/color/48/000000/add-song.png" class="cursor-pointer width-header"/>
    <img src="https://img.icons8.com/flat-round/64/000000/plus.png" class="cursor-pointer width-header" title="Ajouter element" />
   
      
    
</div>

<div id="div_user_width"  class="display-none">  
    <img src="https://img.icons8.com/cute-clipart/64/000000/info.png"  class="cursor-pointer width-header"/>
   
        <img src="https://img.icons8.com/flat-round/64/000000/plus.png" class="cursor-pointer width-header" title="Ajouter element" />
    
</div>
<div id="div_log_out_width"  class="display-none">  
 
    <img src="https://img.icons8.com/fluent/48/000000/export.png" class="cursor-pointer width-header" title="Quitter la page"  onclick=" redirection()"/>
    
</div>

      
</div>
 
 
<!--
  menu <img src="https://img.icons8.com/carbon-copy/50/000000/menu.png"/>
  <a href="https://icons8.com/icon/9yFmVUVhgZs6/add-song">Add Song icon by Icons8</a>
  <a href="https://icons8.com/icon/3156/info">Info icon by Icons8</a>

    <a href="https://icons8.com/icon/102308/menu">Menu icon by Icons8</a>
    <a href="https://icons8.com/icon/0uYcfoG9OUaw/image">Image icon by Icons8</a>
    <a href="https://icons8.com/icon/RNrys9_XRuOg/sound-cloud">Sound Cloud icon by Icons8</a>
    <a href="https://icons8.com/icon/mgr6xm1Af5v3/download-resume">Download Resume icon by Icons8</a>
    <a href="https://icons8.com/icon/L0q9D98y4vXt/change-user">Change User icon by Icons8</a>
    <a href="https://icons8.com/icon/114607/export">Export icon by Icons8</a>
    <a href="https://icons8.com/icon/57475/image">Image icon by Icons8</a>
    <a href="https://icons8.com/icon/a8NHl6SmDbn7/settings">Settings icon by Icons8</a>
    <img src="https://img.icons8.com/cute-clipart/64/000000/exit.png"/>
    <a href="https://icons8.com/icon/58342/data-setting">Data Setting icon by Icons8</a>
    <a href="https://icons8.com/icon/3XO4Ci6_-HuH/plus">Plus icon by Icons8</a>
  

-->  